<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>markussite</title>
    <link rel ="stylesheet" href="style.css">
</head>
<body>
<div class="header">
<div class="container">
  <div class="navbar">
    <div class="logo">
      <img src="hund.jpeg" width="125px">
    </div>
    <nav>
      <ul>
        <li><a href="https://github.com/markussite">My Projects </a></li>
        <li><a href="aboutme.ejs">About me</a></li>
        <li><a href="lookbook.ejs">Cool Pictures</a></li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-2">
      <h1>epsum eron normin</h1>
      <a href="aboutme.ejs" class="btn">test</a>
  </div>
  <div class="col-2">
    <img src="hund.jpeg">
  </div>
</div>
</div>



</body>
</html>
